extends ../../layout/base.pug
include ../../mixins/alert.pug



block main 

    link(rel="stylesheet", href="/css/chat.css")
    +alert-success(3000)

    +alert-error(3000)

    div(class="d-flex")
        div(class="sidebar")
            div(class="info-user-dropdown d-flex align-items-center mb-4")
                img(alt="Logo", class="me-2", height="40", src=userInfo.avatar, width="40")
                span(class="fullName")
                    | #{userInfo.fullName}
                i(class="fas fa-chevron-down ms-auto")
                div(class="dropdown-menu d-none")
                    a(class="dropdown-item", href="/user/info") Hồ sơ
                    a(class="dropdown-item", href="/user/logout") Đăng xuất
                
            div(class="search-box")
                input(class="form-control", placeholder="Search here", type="text")
            ul(class="user-list")
                if(friendsInfo)
                    each friend in friendsInfo
                        a(href=`/chats/${friend.room_id}`) 
                            li(class="")
                                img(alt="David Smith", height="40", src=friend.avatar, width="40")
                                div(class="user-info")
                                    div(class="name")
                                        | #{friend.fullName}
                            //- div(class="status")
                            //-     | Sonar: Hi I&apos;m here
                        //- div(class="time")
                        //-     | 12:08
                        //- span(class="badge")
                        //-     | 6
                //- li
                //-     img(alt="Angee Sam", height="40", src="https://storage.googleapis.com/a1aa/image/F38vptKsxOp1FdAAN2s4eRfP24FjmccwqzwRI7AesbGPgVknA.jpg", width="40")
                //-     div(class="user-info")
                //-         div(class="name")
                //-             | Angee Sam
                //-         div(class="status")
                //-             | Sonar: Hi I&apos;m here
                //-     div(class="time")
                //-         | 12:08
        block frameChat
