extend ../../layout/base.pug
include ../../mixins/sidebar.pug
include ../../mixins/alert.pug


block main 

    link(rel="stylesheet", href="/css/infoUser.css")

    +alert-success(3000)
    +alert-error(3000)

    div(class="container-fluid")
        div(class="row")

            +sidebar("listuser")

            div(class="col-9")
                div(class="container friends-container")
                    div(class="friends-header")
                        div(class="title")
                            | Danh Sách người dùng 
                    div(class="friends-body")
                        each user in users 
                            ul(class="pending-list" not-friend-id=user.id)
                                li
                                    img(alt="Pending Friend Image", height="40", src=user.avatar, width="40")
                                    span
                                        | #{user.fullName}
                                    div(class="actions")
                                        if(userInfo.requestFriends.includes(user.id))
                                            button(class="btn btn-danger btn-sm" button-send-acp-friend=user.id)
                                                | Đã gửi kết bạn 
                                        else 
                                            button(class="btn btn-success btn-sm" button-send-acp-friend=user.id)
                                                | Gửi kết bạn
