extend ../../layout/base.pug
include ../../mixins/sidebar.pug
include ../../mixins/alert.pug


block main 

    +alert-success(3000)
    +alert-error(3000)

    link(rel="stylesheet", href="/css/infoUser.css")

    div(class="container-fluid")
        div(class="row")

            +sidebar("changepassword")

            div(class="col-9")
                div(class="container profile-container")
                    div(class="profile-header")
                    form(
                        class="profile-body"
                        action="/user/change/password"
                        method="post"
                    )
                        div(class="info-group")
                            label(for="oldPassword")
                                | Mật khẩu cũ 
                            input#phone(type="password", name="oldPassword"
                                minLength="6"
                                required
                            )
                        div(class="info-group")
                            label(for="newPassword")
                                | Mật khẩu mới
                            input#address(type="password", name="newPassword"
                                minLength="6"
                                required
                            )
                        div(class="info-group")
                            label(for="confirmPassword")
                                | Xác nhận mật khẩu 
                            input#address(type="password", name="confirmPassword" 
                                minLength="6"
                                required
                            )
                        button(class="profile-footer" type="submit")
                            | Cập Nhật
        
