extend ../../layout/base.pug
include ../../mixins/sidebar.pug
include ../../mixins/alert.pug


block main 

    link(rel="stylesheet", href="/css/infoUser.css")

    +alert-success(3000)
    +alert-error(3000)

    div(class="container-fluid")
        div(class="row")

            +sidebar("info")

            div(class="col-9")
                div(class="container profile-container")
                    div(class="profile-header")
                        img(class="user-img" alt="User Image", height="80", src=userInfo.avatar, width="80")
                        form(action="/user/avatar/upload", upload-avatar  method="post" enctype="multipart/form-data") 
                            input(type="file", name="avatar" class="file-input" accept="image/*")
                        div
                            div(class="name")
                                | #{userInfo.fullName}
                            div(class="email")
                                | #{userInfo.email}
                    form(
                        class="profile-body"
                        action="/user/info"
                        method="post"
                    )
                        div(class="section-title")
                            | Thông Tin Cá Nhân
                        div(class="info-group")
                            label(for="name")
                                | Họ và Tên
                            input#name(type="text", name="fullName" value=userInfo.fullName)
                        div(class="info-group")
                            label(for="email")
                                | Email
                            input#email(type="email", name="email" value=userInfo.email)
                        div(class="info-group")
                            label(for="phone")
                                | Số Điện Thoại
                            input#phone(type="text", name="phone" value=userInfo.phone)
                        div(class="info-group")
                            label(for="address")
                                | Địa Chỉ
                            input#address(type="text", name="address" value=userInfo.address)
                        button(class="profile-footer" type="submit")
                            | Cập Nhật
        
